@import '../../styles/colors';
@import '../../styles/breakpoints';

.Test{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $mainColor;

    & > h1{
        margin-left: 15%;
    }

    & > a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        width: 10%;
        margin-left: 45%;
        background: $transparency;
        color: #fff;
        border: 2px solid #fff;
        padding: 10px;
        margin-bottom: 200px;
        font-size: 18px;
        border-radius: 10px;
    }

    & > div{
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > ul{
            list-style: none;
            width: 70%;
            padding: 0px;
    
            & > h2{
                margin-bottom: 20px;
            }
    
            & > li{
                border-bottom: 1px solid #fff;
                margin-bottom: 30px;
                padding-bottom: 10px;
    
                &#enko{
                    display: flex;
                    justify-content: space-between;

                    @media (min-width: $small) {
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    @media (max-width: $small) {
                        & > span:nth-child(2){
                            margin-top: 5px;
                        }
                        flex-direction: column;
                    }
                }

                &#example{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border: 0px solid #fff;
                    margin-bottom: 20px;

                    & > div{
                        & > span{
                            margin-right: 10px;
                        }
                    }
                }
                
                & > div{
                    display: flex;
                    margin-top: 10px;

                    @media (min-width: $small) {
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    @media (max-width: $small) {
                        & > span:nth-child(2){
                            margin-top: 5px;
                        }
                        flex-direction: column;
                    }

                    & > div {
                        & > input:not(:first-child){
                            margin-left: 10px; 
                        }
                        & > span{
                        text-decoration: underline;
                        }
                    }
                }
            }
        }
    
        & > div{
            display: flex;
            flex-direction: row;
            flex-flow: row wrap;
    
            & > div{
                display: flex;
                flex-direction: column;
                color: #000;
                width: 200px;
                height: 200px;
                background: $boxColor;
                margin: 30px;
                border-radius: 10px;
                padding: 10px;
    
                & > div{
                    display: flex;
                    justify-content: center;
                    & > a{
                        text-decoration: none;
                        color: #000;
                        text-align: center;
                        border: 5px solid #000;
                        border-radius: 5px;
                        width: 100px;
                    }
                }
            }
        }
    }
}