@import '../../styles/colors';
@import '../../styles/breakpoints';

.Main{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 160px);
    flex-direction: column;

    & > div{
        width: 62.5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > hr{
            border: solid 2px #71ccde;
            border-radius: 2px;
        }

        & > p{
            text-align: center;
            font-size: 72px;
            font-weight: bold;
            color: $black;
            & > span{
                color: $mainColor;
                font-size: 100px;
            }
        }
    }
}