@import '../../styles/colors';
@import '../../styles/breakpoints';

.Main{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgba($mainColor, $alpha: 0.7);
    background-size: 100%;
    flex-direction: column;

    & > span{
        font-weight: 500;
        @media (min-width: $small) {
            font-size: 42pt;
        }

        @media (max-width: $small) {
            font-size: 22pt;
        }
    }
}

.back{
    margin-top: -60px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}