@import '../../styles/colors';
@import '../../styles/breakpoints';

.Color{
    background: $mainColor;
}

.nonColor{
    background-color: rgba($mainColor, $alpha: 0.7);
}

.Header{
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    height: 60px;
    justify-content: space-between;
    align-items: center;

    a{
        color: $navColor;
        text-decoration: none;
    }

    & > ul{
        padding: 0px;
        list-style: none;
        text-decoration: none;

        & > a{
            display: list-item;
            float: left;

            &:not(:first-child){
                @media (min-width: $small) {
                    margin-left: 20px;
                }
                @media (max-width: $small) {
                    margin-left: 10px;
                }
            }
        }
    }
}